{% include "generic_header.html" %}

<body>
    <h1>Hello There please login</h1>
    <form>
        <div>
            <label for="username">Username</label>
            <input type="text" placeholder="Please type your username" id="username" />
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" placeholder="Please type your password" id="password" />
        </div>
        <button type="submit" action="">Login</button>
    </form>
</body>